# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\C_HTL\OneDrive - HTBLuVA Salzburg\_Programmieren\C\FSST\4\Taschenrechner\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
